swap_tiled_layout name="horizontal" {
    tab max_panes=4 {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            pane
            pane
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab max_panes=8 {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            pane {
                pane split_direction="vertical" {
                    children
                }
                pane split_direction="vertical" {
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab max_panes=12 {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            pane {
                pane split_direction="vertical" {
                    children
                }
                pane split_direction="vertical" {
                    pane
                    pane
                    pane
                    pane
                }
                pane split_direction="vertical" {
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
