" Selected Intellimacs modules
source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" Custom vim commands
nnoremap Y y$

" Comma for major mode
nmap , <leader>m
vmap , <leader>m

" Absolute line number for current line, relative line numbers for all others.
:set relativenumber
:set number
