[user]
        name = AUTHORNAME
        email = AUTHOREMAIL

[credential]
  helper = "osxkeychain"
[core]
  editor = "emacsclient"
[merge]
  tool = vscode
[diff]
  tool = vscode
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
