#!/bin/sh

# Disable the automatic menu displaying on every environment reload.
# export DEVSHELL_NO_MOTD=1

# shellcheck disable=SC1090
. "$(
  nix eval \
  --no-update-lock-file \
  --no-write-lock-file \
  --no-warn-dirty \
  --accept-flake-config \
  .#__std.direnv_lib 2>/dev/null \
  || nix eval .#__std.direnv_lib # show the errors
)"
use std cells //_automation/devshells:default
