# -*- mode: sh; -*-

{ # PRJ Base Directory Specification: https://github.com/numtide/prj-spec
  # shellcheck source=/dev/null
  source "$(
    fetchurl \
      "https://raw.githubusercontent.com/numtide/prj-spec/9b0ffcd0fddcb261bcd73ad9dad18a096760b4a0/contrib/direnv" \
      "sha256-54YaaGly6Q0E8GhFT9fB/h9tN1PDERo2/4R4X0Pdi/c="
  )"
}

# Disable the automatic menu displaying on every environment reload.
# export DEVSHELL_NO_MOTD=1

watch_file ops/devshells/*

use flake
