# Disable the automatic menu displaying on every environment reload.
export DEVSHELL_NO_MOTD=1

if command -v pass >/dev/null; then
  export CACHIX_AUTH_TOKEN="$(pass show cachix.org/auth-token)"
fi

watch_file shell/* shell.nix flake.nix

# Load the default devshell.
use flake || use nix
