# Nix
cachix/cachix.dhall
result

# nvfetcher
pkgs/_sources/.shake*

# Emacs
treemacs.org
org-roam.db
custom.el
flycheck_config.el

# Local files
*.local

# CI
/.ci/.terraform/
/.ci/*.tfvars
/.ci/*.tfstate*

/modules/php/**/vendor/
/.composer/
