[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "emacs/.doom.d"]
	path = emacs/.doom.d
	url = git@github.com:montchr/doom.d.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "tmuxp/.tmuxp"]
	path = tmuxp/.tmuxp
	url = git@github.com:montchr/tmuxp-config.git
