[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "tmuxp/.tmuxp"]
	path = tmuxp/.tmuxp
	url = git@github.com:montchr/tmuxp-config.git
[submodule "notmuch"]
	path = notmuch
	url = git@github.com:montchr/notmuch-config.git
[submodule "kitty/.config/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "intellij/.intellimacs"]
	path = intellij/.intellimacs
	url = git@github.com:MarcoIeni/intellimacs.git
[submodule "stackline"]
	path = hammerspoon/dot-hammerspoon/stackline
	url = git@github.com:AdamWagner/stackline.git
[submodule "kitty/.config/kitty/base16-kitty"]
	path = kitty/.config/kitty/base16-kitty
	url = git@github.com:kdrag0n/base16-kitty.git
[submodule "firefox-i3wm-theme"]
	path = firefox/.config/firefox/chrome/firefox-i3wm-theme
	url = git@github.com:aadilayub/firefox-i3wm-theme.git
[submodule "iosevka"]
	path = iosevka
	url = git@git.sr.ht:~montchr/iosevka-builds
