##: nix build artifacts
result

##: dependencies / package managers
node_modules/
.composer/

##: editor files
.idea
custom.el
flycheck_config.el

##: local-only files
*.local

##: cache/state files
*.tfstate*
*.tfvars
.direnv/
.eslintcache/
.npm/
.terraform/
packages/sources/_sources/.shake*

##: virtual machine images
*.qcow2
*.img

##: operating system clutter
.DS_Store

##: temporary files
*.tmp
tmp/

##: logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
