#pattern  filter=crypt diff=crypt merge=crypt
emacs/dot-doom.d/treemacs.org filter=crypt diff=crypt merge=crypt
espanso/user/personal.yml filter=crypt diff=crypt merge=crypt
espanso/user/work.yml filter=crypt diff=crypt merge=crypt
