#pattern  filter=crypt diff=crypt merge=crypt
doom/treemacs.org filter=crypt diff=crypt merge=crypt
dotfield/config/espanso/user/personal.yml filter=crypt diff=crypt merge=crypt
dotfield/config/espanso/user/work.yml filter=crypt diff=crypt merge=crypt
