/* Alternate monospace font stack, sorted by least popular so you're most likely
 * to get the font you want.
 */
code,
kbd,
pre,
tt,
.ace_editor.ace-github-light,
.blame-sha,
.blob-code-inner,
.blob-code-inner > *,
.blob-num,
.branch-name,
.CodeMirror pre > span,
.CodeMirror-linenumber,
.commit .sha,
.commit .sha-block,
.commit-desc pre,
.commit-ref,
.commit-tease-sha,
.default-label .sha,
.export-phrase pre,
.file-editor-textarea,
.file-info,
.gollum-editor .expanded textarea,
.gollum-editor .gollum-editor-body,
.hook-delivery-guid,
.hook-delivery-response-status,
.input-monospace,
.news .alert .branch-link,
.oauth-app-info-container dl.keys dd,
.quick-pull-choice .new-branch-name-input input,
.tag-references > li.commit,
.two-factor-secret,
.upload-files .filename,
.url-field,
.wiki-wrapper .wiki-history .commit-meta code {
  font-family: var(--dotfield-font-family-mono) !important;
  font-size: 1em !important;
  line-height: 1.2 !important;
}

/* GitHub: supplemental text */
.text-mono {
  font-family: var(--dotfield-font-family-mono) !important;
}

body,
.tooltipped:after,
.markdown-body,
.hx_text-body {
  /* Very politely encourage use of our preferred body font family. */
  font-family: var(--dotfield-font-family-sans);
}
