:root {
  --tridactyl-font-family: "Iosevka" !important;
  --tridactyl-cmdl-font-family: "Iosevka Term" !important;
  --tridactyl-status-font-family: "Iosevka Term" !important;
  --tridactyl-cmplt-font-family: "Iosevka Term" !important;
  --tridactyl-hintspan-font-family: "Iosevka Term" !important;
}
