:root {
  --tridactyl-font-family: "PragmataPro Liga" !important;
  --tridactyl-cmdl-font-family: "PragmataPro Mono Liga" !important;
  --tridactyl-status-font-family: "PragmataPro Mono" !important;
  --tridactyl-cmplt-font-family: "PragmataPro Mono" !important;
  --tridactyl-hintspan-font-family: "PragmataPro Mono" !important;
}
