[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyaml = "*"
defusedxml = "*"
file-magic = "*"
pass-import = "*"

[requires]
python_version = "3.8"
