name: "Build & Cachix"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            hostname: ghaDarwin
          - os: ubuntu-latest
            hostname: ghaUbuntu
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v16
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: dotfield
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: dotfield,nix-community,nrdxp
      - run: nix -Lv flake check --show-trace
      - run: nix -Lv build ".#${{ matrix.hostname }}" --show-trace
